@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}

.spinner {
  display: inline-block;
  border: 3px dashed #ccc;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  animation: spin 3s linear infinite;
}
